<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Certificate info -->
            <div class="col-md-6">
                <h5>Мої веб-ресурси:</h5>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Посилання</th>
                            <th>Статистика</th>
                            <th>API Ключ</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td><a href="#">http://mychat.ua</a></td>
                            <td><a href="">перейти</a></td>
                            <td><a href="">aHR0cDovL215Y2hhdC51YQ</a></td>
                            <td>активний</td>
                        </tr>
                        <tr class="warning">
                            <td><a href="#">http://ua-forum.ua</a></td>
                            <td><a href="">перейти</a></td>
                            <td><a href="">aHR0cDovL3VhLWZvcnVtLnVh</a></td>
                            <td>декатив.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Add subject to certificate -->
            <div class="col-md-6">
                <h5>Новий веб-ресурс</h5>
                <form class="form-inline" action="">
                    <div class="form-group">
                        <label for="">Посилання</label>
                        <input type="text" class="form-control input-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Тематика</label>
                        <input type="text" class="form-control input-sm" size="10">
                    </div>
                    <button type="submit" class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
