<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container chatbox">
        <div class="row">
            <div class="col-sm-4 leftbox">
                <div class="contactbox">
                    <div class="onecontact">
                        Room#1 Australia Speech
                    </div>
                    <div class="onecontact">
                        Room#2 English Club
                    </div>
                    <div class="onecontact">
                        Room#3 Java Conversation
                    </div>
                    <div class="onecontact">
                        Room#4 Pray
                    </div>
                </div>
            </div>
            <div class="col-sm-8 rightbox">
                <div class="messagebox scroll-messages">
                    <div class="message friend thumbnail clear">
                        Привіт! Як справи?
                    </div>

                    <div class="message self thumbnail clear">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, ea tenetur, eveniet possimus neque voluptate fuga harum porro. Hic impedit nulla cumque, at tempora? Vel odit aliquid voluptatem sunt esse, non, delectus modi autem, praesentium itaque dolor voluptate eos impedit! Voluptas fugit minus dolores perspiciatis ratione deleniti enim ducimus placeat eligendi iste asperiores vel dignissimos, necessitatibus quis culpa illum, blanditiis aperiam tempore autem rem. Consequuntur quo fugiat, deleniti! Natus rem aut tempore. Eveniet, voluptas, repudiandae? Cupiditate ipsum omnis cum illum. Minima voluptatem labore ducimus dignissimos, ratione, deleniti nihil quo voluptate cupiditate sit quod. Temporibus nulla autem doloribus inventore praesentium, mollitia.
                    </div>

                    <div class="message friend thumbnail clear">
                        Loremt.
                    </div>

                    <div class="message friend thumbnail clear">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                    <div class="message self thumbnail clear">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, ea tenetur, eveniet possimus neque voluptate fuga harum porro. Hic impedit nulla cumque, at tempora? Vel odit aliquid voluptatem sunt esse, non, delectus modi autem, praesentium itaque dolor voluptate eos impedit! Voluptas fugit minus dolores perspiciatis ratione deleniti enim ducimus placeat eligendi iste asperiores vel dignissimos, necessitatibus quis culpa illum, blanditiis aperiam tempore autem rem. Consequuntur quo fugiat, deleniti! Natus rem aut tempore. Eveniet, voluptas, repudiandae? Cupiditate ipsum omnis cum illum. Minima voluptatem labore ducimus dignissimos, ratione, deleniti nihil quo voluptate cupiditate sit quod. Temporibus nulla autem doloribus inventore praesentium, mollitia.
                    </div>
                    <div class="message self thumbnail clear">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, ea tenetur, eveniet possimus neque voluptate fuga harum porro. Hic impedit nulla cumque, at tempora? Vel odit aliquid voluptatem sunt esse, non, delectus modi autem, praesentium itaque dolor voluptate eos impedit!
                    </div>
                    <div class="message friend thumbnail clear">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
                <div class="sendmessage row">
                    <form class="form-inline">
                        <div class="form-group">
                            <textarea class="form-control thumbnail" name="" id="" cols="80" rows="3"></textarea>
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
