body {
    
}

.chatbox {
    background-color: azure;
    min-height: 400px;
    margin-top: 100px;
}

.leftbox {
    background-color: #232a32;
    padding: 0;
    margin: 0;
}

.rightbox {
    background-color: #f2f2f2;
    min-height: 400px;
}


/* LEFT BOX */

.onecontact {
    color: #ffffff;
    padding: 10px 10px;
    height: 40px;
    border-bottom: 1px solid white;
}

.contactbox {}

.scroll-contacts {
    height: 400px;
    /* высота нашего блока */
    /*width: 200px;  ширина нашего блока */
    /*background: #fff;  цвет фона, белый */
    overflow-x: auto;
    /* прокрутка по горизонтали */
    overflow-y: scroll;
    /* прокрутка по вертикали */
}

.scroll-messages {
    height: 400px;
    /* высота нашего блока */
    /*width: 200px;  ширина нашего блока */
    /*background: #fff;  цвет фона, белый */
    border: 1px solid #C1C1C1;
    /* размер и цвет границы блока */
    overflow-x: auto;
    /* прокрутка по горизонтали */
    overflow-y: scroll;
    /* прокрутка по вертикали */
}

.messagebox {
    border: none;
}

.sendmessage {
    padding: 10px;
    color: #000000;
}

.message {
    padding: 10px;
    max-width: 75%;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    font-size: 13px;
}

.message-data {
    font-size: 11px;
    color: cadetblue;
}

.remove {
    display: block;
    float: right;
    color: red;
    margin-left: 10px;
    line-height: 80%;
}

.friend {
    background-color: #FFFFFF;
    color: #000000;
    float: left;
}

.self {
    background-color: #56469e;
    color: #f2f2f2;
    float: right;
}

.clear {
    clear: both;
}
